apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: backend
  namespace: trii
spec:
  selector:
    matchLabels:
      app: backend
  endpoints:
  - port: http
    path: /metrics